@charset "UTF 8";

body {
  background-color: #F2E7C4;
}
h1 {
  background-color: #F25757;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: justify;
}

a {
  color: #F25757;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  border-color: #F25757;
}

h2 {
  color: #0952a5cb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}

h3 {
  color: #037F8C;
  ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: justify;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto 
}

ol {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #F25757;
}